<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>SmartClient</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="js/smartClient.js"></script>
</head>
<body ng-app="mySmartclient" ng-controller="mySmartController">
	<div class="container">
		<!-- NAV-->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/smartlogger/">SmartLogger</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
			<li><a href="/smartlogger/log-form">Logs</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Properties<span class="caret"></span></a>
			  <ul class="dropdown-menu">
			    <li><a href="akka">Akka</a></li>
			    <li><a href="database">Database</a></li>
			    <li><a href="features">Features</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="mail">Mail</a></li>
			    <li><a href="slack">Slack</a></li>
			  </ul>
			</li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Se deconnecter</a></li>
		
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<!-- logs panel -->	

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title" id="progressPanel">Logs</h3>
	  </div>
	  <div class="panel-body">
		  <div th:if="${message}">
		  	<p th:text="${message}"></p>
		  </div>
		  <table class="table table-striped table-hover">
			  <thead class="thead-inverse">
				  <tr>
					  <th>Identifiant</th>
					  <th>Criticité</th>
					  <th>Contenu</th>
				  </tr>
			  </thead>
			  <tbody>
				  <tr th:each="l : ${logs}">
					  <td th:text="${l.id}"></td>
					  <td th:text="${l.label}"></td>
					  <td th:text="${l.content}"></td>
				  </tr>
			  </tbody>
		  </table>
	  </div>
	</div>

	</div> <!-- container  -->
</body>
</html>
