<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SmartClient - Données d'entraînement</title>

        <!-- Bootstrap stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

        <!-- Angular scripts -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script type="text/javascript">
            angular.module("mySmartclient",[]).controller("mySmartController", function(){});
        </script>
    </head>
    <body ng-app="mySmartclient" ng-controller="mySmartController">
        <!-- Main Container -->
        <div class="container">
            <!-- Navigation bar -->
            <nav id="navbar" class="navbar navbar-default" onload="importNavBar();">
                <div class="container-fluid">
                    <!-- Barre de navigation principale -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/smartlogger/">SmartLogger</a>
                    </div>

                    <!-- Accès aux sous-menus-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/smartlogger/analyze">Lancer l'analyse</a></li>
                            <li><a href="/smartlogger/provide">Fournir des données</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Main panel -->
            <h2>Entraînement du modèle</h2>
            <p>
                Cette partie vous permet d'étoffer le modèle d'analyse utilisé par SmartLogger,
                en fournissant des jeux de données.
                Ces données seront prises en compte à la prochaine phase d'entraînement
            </p>
            <p> N'oubliez pas que les données fournies doivent être labellisées !</p>
            <div class="panel panel-primary">
                <form action="#" th:action="@{/smartlogger/provide}" th:object="${log}" method="post">
                    <div class="form-group row">
                        <label for="content" class="col-lg-2">Contenu</label>
                        <div class="col-lg-10">
                            <textarea id="content" class="form-control" rows="10" th:field="*{content}"></textarea>
                            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset"  class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
